@-webkit-keyframes animacion {
  from {
    -webkit-text-decoration-color: #c7746700;
            text-decoration-color: #c7746700;
  }
  to {
    -webkit-text-decoration-color: #c77467;
            text-decoration-color: #c77467;
  }
}

@keyframes animacion {
  from {
    -webkit-text-decoration-color: #c7746700;
            text-decoration-color: #c7746700;
  }
  to {
    -webkit-text-decoration-color: #c77467;
            text-decoration-color: #c77467;
  }
}

@-webkit-keyframes boton {
  from {
    border-color: #c7746700;
  }
  to {
    border-color: #c77467;
  }
  from {
    background-color: #c77467;
  }
  to {
    background-color: #F4ECDC;
  }
  from {
    color: #F4ECDC;
  }
  to {
    color: #023C24;
  }
}

@keyframes boton {
  from {
    border-color: #c7746700;
  }
  to {
    border-color: #c77467;
  }
  from {
    background-color: #c77467;
  }
  to {
    background-color: #F4ECDC;
  }
  from {
    color: #F4ECDC;
  }
  to {
    color: #023C24;
  }
}

@-webkit-keyframes producto {
  from {
    opacity: 70%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes producto {
  from {
    opacity: 70%;
  }
  to {
    opacity: 100%;
  }
}

* {
  margin: 0px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #023C24;
  line-height: 1.6;
}

body {
  background-color: #F4ECDC;
}

a {
  text-decoration: none;
  color: #023C24;
}

a:hover {
  color: #c77467;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-family: "DM Serif Text", serif;
}

h2 {
  font-size: 2rem;
  font-family: "DM Serif Text", serif;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "nav nav nav";
  background-color: #023C24;
  height: 80px;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  z-index: 3;
}

.logo {
  grid-area: logo;
  -ms-grid-column-align: center;
      justify-self: center;
}

.logo img {
  width: 140px;
}

.loginYCart {
  grid-area: cart;
  -ms-grid-column-align: end;
      justify-self: end;
}

.loginYCart img {
  width: 30px;
  margin-left: 5px;
}

.menu {
  width: 100%;
  font-size: 1rem;
  margin: 0px auto;
  text-align: center;
  padding: 10px;
  background-color: #023C24;
  justify-items: center;
  color: #F4ECDC;
}

.menu ul {
  list-style: none;
  background-color: #023C24;
}

.menu ul ul {
  position: absolute;
  display: none;
  background-color: #023C24;
  text-align: left;
}

.menu ul ul li {
  display: block;
}

.menu li {
  display: inline;
  position: relative;
  text-align: left;
}

.menu li a {
  text-decoration: none;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  color: #F4ECDC;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

.menu li a:hover {
  color: #c77467;
  text-decoration: overline;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  background-color: #023C24;
}

.grid {
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "slide" "nos" "nos" "pro" "pro" "pro" "conta" "conta";
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slide;
  margin-top: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 300px;
  height: 300px;
}

.slide img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nosotros {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: nos;
  margin-top: 80px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #c7746796;
  border-radius: 100px;
}

.nosotros h2 {
  grid-area: titulon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosImagen {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
}

.nosTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  font-size: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pro {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: pro;
  padding-top: 40px;
}

.productosTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ProductosBotonTodos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.ProductosBotonTodos h4 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F4ECDC;
  background-color: #c7746796;
  border-width: 2px;
  border-color: #c77467;
  border-radius: 1rem;
  padding: 10px;
}

.ProductosBotonTodos a:hover {
  color: #023C24;
  background-color: #F4ECDC;
  border-style: solid;
  border-width: 2px;
  border-color: #c77467;
  border-radius: 1rem;
  padding: 10px;
  -webkit-animation-name: boton;
          animation-name: boton;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.productosAnillos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: ani;
}

.productosAros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aro;
}

.productosVelas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: vel;
}

.productos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "aro" "ani" "vel";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.productos a {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.productos a:hover {
  padding: 10px;
  text-decoration: overline;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.productos img {
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
          box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
  opacity: 70%;
}

.productos img:hover {
  opacity: 100%;
  -webkit-animation-name: producto;
          animation-name: producto;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.conta {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: conta;
  padding-top: 40px;
}

.contactoTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactoTexto {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
}

.contactoTexto ul {
  list-style: none;
  margin-top: 10px;
}

.contactoTexto ul img {
  width: 25px;
}

.contactoFormulario textarea {
  height: 100px;
  width: 280px;
  resize: none;
}

.contactoFormularioPartes {
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.botonEnviar {
  color: #F4ECDC;
  background-color: #c77467;
  border-style: solid;
  border-width: 2px;
  border-color: #c77467;
  border-radius: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.botonEnviar:hover {
  color: #023C24;
  background-color: #F4ECDC;
  border-style: solid;
  border-width: 2px;
  border-color: #c77467;
  border-radius: 1rem;
  -webkit-animation-name: boton;
          animation-name: boton;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  margin: 10px;
  background-color: #F4ECDC;
      grid-template-areas: "news" "masInfo" "datos";
}

footer h4 {
  font-weight: 600;
}

footer ul {
  list-style: none;
}

footer ul img {
  width: 25px;
}

.news {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: news;
  -ms-grid-column-align: left;
      justify-self: left;
}

.masInfo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: masInfo;
  -ms-grid-column-align: left;
      justify-self: left;
}

.datos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: datos;
  -ms-grid-column-align: left;
      justify-self: left;
}

footer a:hover {
  text-decoration: overline;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.newsletterForm {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-width: 0.5;
  width: 90px;
}

.newsletterFormDos {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 90px;
}

.enviar {
  color: #F4ECDC;
  background-color: #c77467;
  border-style: solid;
  border-width: 2px;
  border-color: #c77467;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  width: 75px;
}

.enviar:hover {
  color: #023C24;
  background-color: #F4ECDC;
  border-style: solid;
  border-width: 2px;
  border-color: #c77467;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-animation-name: boton;
          animation-name: boton;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

/*modificaciones de bootstrap*/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-left: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #F4ECDC;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #c77467;
  text-decoration: overline;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.navbar-dark .navbar-toggler {
  color: #F4ECDC;
  border-color: #F4ECDC;
  border: 0.5px solid #F4ECDC;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28244, 236, 220, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.10rem;
          box-shadow: 0 0 0 0.10rem;
}

.form-control {
  width: 200px;
}

.btn-outline-light:hover {
  color: #023C24;
  background-color: #F4ECDC;
  border-style: solid;
  border-width: 2px;
  border-color: #c77467;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-animation-name: boton;
          animation-name: boton;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.form-control {
  height: 50px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.btn {
  color: #F4ECDC;
  background-color: #c77467;
  border-style: solid;
  border-width: 2px;
  border-color: #c77467;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  width: 75px;
}

.bi {
  font-size: 1.3rem;
  color: #c77467;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  margin-top: 50px;
}

.carousel-indicators {
  margin-bottom: -2rem;
}

.accordion-button {
  background-color: #c7746796;
}

.accordion-button:not(.collapsed) {
  background-color: #c7746796;
}

.accordion-body {
  background-color: #F4ECDC;
}

.accordion-button:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #c77467;
          box-shadow: 0 0 0 0.25rem #c77467;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-text {
  font-size: 1rem;
  color: #023C24;
}

.cuidadosYMateriales {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  justify-items: center;
      grid-template-areas: "tituloc" "textu" "imgcu" "textd" "imgcd";
}

.cuidadosYMateriales h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tituloc;
  text-align: center;
}

.cuidadosYMateriales img {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
}

.cuidadosYMateriales h3 {
  padding-bottom: 10px;
}

.imagenMateriales {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imgcu;
}

.textoMateriales {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: textu;
}

.textoMateriales p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  padding-bottom: 10px;
  font-style: italic;
}

.imagenCuidados {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: imgcd;
}

.textoCuidados {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: textd;
  text-align: right;
}

.textoCuidados p {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  padding-bottom: 10px;
}

.todoLogin {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "titulol titulol titulol" ". login .";
  justify-items: center;
}

.todoLogin h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulol;
}

.todoLogin div {
  padding: 7px;
}

.todoLogin img {
  width: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.login {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: login;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formLogin {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 16rem;
}

.loginEnItalic {
  font-style: italic;
}

.preguntas {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulop" "pregtexto" "pregimagen";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  justify-items: center;
}

.preguntas h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulop;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.preguntas img {
  width: 280px;
  height: 300px;
  padding: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.preguntasImagen {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pregimagen;
}

.preguntasTexto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pregtexto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: italic;
  font-size: 1rem;
  padding-left: 10px;
}

.preguntasTexto p {
  padding-bottom: 10px;
  padding-left: 10px;
}

.preguntasTexto a {
  text-decoration: underline;
}

.preguntasTexto h5 {
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}

.unProducto {
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-transform: uppercase;
}

.unProducto img {
  width: 250px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
          box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
  opacity: 70%;
}

.unProducto img:hover {
  opacity: 100%;
  -webkit-animation-name: producto;
          animation-name: producto;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.unProducto a:hover {
  text-decoration: overline;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.velasTodo {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "titulov titulov titulov titulov" "velas velas velas velas";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.velasTodo h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titulov;
}

.variosProductosVelas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: velas;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aceroTodo {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "tituloac tituloac tituloac tituloac" "ac ac ac ac";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aceroTodo h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: tituloac;
}

.variosProductosAcero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arosTodo {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "tituloaros tituloaros tituloaros tituloaros" "aros aros aros aros";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arosTodo h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: tituloaros;
}

.variosProductosAros {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: aros;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.anillosTodo {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "tituloani tituloani tituloani tituloani" "ani ani ani ani";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anillosTodo h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: tituloani;
}

.variosProductosAnillos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: ani;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productosTodos {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "titulotodo titulotodo titulotodo titulotodo" "todo todo todo todo";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productosTodos h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titulotodo;
}

.variosProductosTodos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: todo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.talles {
  padding-top: 110px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo" "tallesTexto" "tallesTabla" "tallesImagen";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  justify-items: center;
}

.talles h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  text-align: center;
}

.talles img {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: tallesImagen;
  height: 300px;
  width: 250px;
  padding-top: 10px;
}

.talles p {
  width: 300px;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tallesTexto;
}

.tallesTabla {
  width: 300px;
  height: 350px;
  border-color: #c77467;
  border-width: 5px;
  border-style: solid;
  border-radius: 1rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tallesTabla;
  padding-bottom: 0px;
}

.tallesTabla table {
  caption-side: bottom;
  border-collapse: collapse;
  height: 100%;
  text-align: center;
}

.tallesTabla table tr th {
  text-transform: uppercase;
  background-color: #c77467;
}

.tallesTabla table tr:nth-child(odd) td {
  background-color: #c7746796;
}

@media only screen and (min-width: 600px) {
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-family: "DM Serif Text", serif;
  }
  h2 {
    font-size: 2.5rem;
    font-family: "DM Serif Text", serif;
  }
  h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  h4 {
    font-size: 1.3rem;
  }
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "nav nav nav";
    background-color: #023C24;
    height: 80px;
    z-index: 3;
  }
  nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
    z-index: 3;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    margin: 30px;
    background-color: #F4ECDC;
        grid-template-areas: "news news"  "masInfo datos";
  }
  .newsletterForm {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 0.5;
    width: 150px;
  }
  .newsletterFormDos {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 150px;
  }
  .grid {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "slide" "nos" "nos" "pro" "pro" "pro" "conta" "conta";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .slide {
    margin-top: 50px;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 500px;
    height: 350px;
  }
  .slide img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 500px;
    height: 350px;
  }
  .nosImagen {
    width: 200px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: nosimg;
  }
  .nosTexto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    font-size: 1.2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: nostext;
  }
  .nosotros {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: nos;
    margin-top: 80px;
    padding: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "nostext titulon" "nostext nosimg";
    border-radius: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nosotros h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: titulon;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .productosAnillos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ani;
    text-align: center;
  }
  .productosAros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: aro;
  }
  .productosVelas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: vel;
  }
  .productos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "aro ani vel";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .productos img {
    width: 180px;
    height: 250px;
  }
  .contactoTitulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contactoTexto {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .contactoTexto ul {
    list-style: none;
    margin-top: 10px;
  }
  .contactoTexto ul img {
    width: 20px;
  }
  .contactoFormulario textarea {
    height: 150px;
    width: 200px;
    resize: none;
  }
  .contactoFormularioPartes {
    width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
  }
  .botonEnviar {
    color: #F4ECDC;
    background-color: #c77467;
    border-style: solid;
    border-width: 2px;
    border-color: #c77467;
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .botonEnviar:hover {
    color: #023C24;
    background-color: #F4ECDC;
    border-style: solid;
    border-width: 2px;
    border-color: #c77467;
    border-radius: 1rem;
    -webkit-animation-name: boton;
            animation-name: boton;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  .talles {
    padding-top: 80px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo titulo" "tallesTexto tallesTexto" "tallesImagen tallesTabla";
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    justify-items: center;
  }
  .talles img {
    width: 250px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tallesImagen;
    padding-top: 0px;
    padding-right: 10px;
  }
  .talles p {
    font-size: 1.2rem;
    padding: 10px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: tallesTexto;
    width: 500px;
  }
  .talles h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: titulo;
    text-align: center;
  }
  .tallesTabla {
    width: 250px;
    height: 350px;
    border-color: #c77467;
    border-width: 5px;
    border-style: solid;
    border-radius: 1rem;
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: tallesTabla;
  }
  table {
    caption-side: bottom;
    border-collapse: collapse;
    height: 100%;
  }
  .preguntas {
    padding-top: 80px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulop titulop " "pregtexto pregtexto" "pregimagen pregimagen";
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    justify-items: center;
  }
  .preguntas h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: titulop;
  }
  .preguntas img {
    width: 350px;
    height: 400px;
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .preguntasTexto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: pregtexto;
    font-style: italic;
    font-size: 20px;
    padding-left: 10px;
  }
  .preguntasTexto p {
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .preguntasTexto h5 {
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
  }
  .preguntasImagen {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: pregimagen;
  }
  .cuidadosYMateriales {
    padding-top: 80px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    justify-items: center;
        grid-template-areas: "tituloc tituloc" "imgcu textu " "textd imgcd";
  }
  .cuidadosYMateriales h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: tituloc;
    text-align: center;
  }
  .cuidadosYMateriales img {
    width: 250px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 5px;
  }
  .cuidadosYMateriales h3 {
    padding-bottom: 10px;
  }
  .imagenMateriales {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imgcu;
  }
  .textoMateriales {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: textu;
  }
  .textoMateriales p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.1rem;
    padding-bottom: 2px;
    font-style: italic;
  }
  .imagenCuidados {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: imgcd;
  }
  .textoCuidados {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: textd;
    text-align: right;
  }
  .textoCuidados p {
    font-style: italic;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.1rem;
    padding-bottom: 2px;
  }
  .unProducto img {
    width: 250px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
    -webkit-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
            box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
    opacity: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: "nav nav nav";
    background-color: #023C24;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 3;
  }
  nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
    z-index: 3;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    margin: 30px;
    background-color: #F4ECDC;
        grid-template-areas: "news masInfo datos";
  }
  .news {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: news;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .masInfo {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: masInfo;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .datos {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: datos;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .newsletterForm {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 0.5;
    width: 150px;
  }
  .newsletterFormDos {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 150px;
  }
  .enviar {
    color: #F4ECDC;
    background-color: #c77467;
    border-style: solid;
    border-width: 2px;
    border-color: #c77467;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .enviar:hover {
    color: #023C24;
    background-color: #F4ECDC;
    border-style: solid;
    border-width: 2px;
    border-color: #c77467;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    -webkit-animation-name: boton;
            animation-name: boton;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: "DM Serif Text", serif;
  }
  h2 {
    font-size: 3rem;
    font-family: "DM Serif Text", serif;
  }
  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  h4 {
    font-size: 1.5rem;
  }
  .grid {
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". slide ." "nos nos nos" "pro pro pro" "conta conta conta";
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .slide {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: slide;
    margin-top: 20px;
    -ms-grid-column-align: center;
        justify-self: center;
    padding-bottom: 20px;
    width: 1000px;
    height: 700px;
  }
  .slide img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 1000px;
    height: 700px;
  }
  .carousel-indicators {
    margin-bottom: 1rem;
  }
  .nosImagen {
    width: 400px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: nosimg;
  }
  .nosTexto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    font-size: 1.2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nostext;
  }
  .nosotros {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nos;
    margin-top: 80px;
    padding: 110px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "titulon titulon nosimg" "nostext nostext nosimg";
    border-radius: 100px;
  }
  .nosotros h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: titulon;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pro {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: pro;
    padding-top: 90px;
  }
  .productosAnillos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ani;
  }
  .productosAros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: aro;
  }
  .productosVelas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: vel;
  }
  .productos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "aro ani vel";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .productos img {
    width: 300px;
    height: 350px;
  }
  .conta {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: conta;
    padding-top: 90px;
  }
  .contactoTitulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactoTexto {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactoTexto ul {
    list-style: none;
    margin-top: 10px;
  }
  .contactoTexto ul img {
    width: 25px;
  }
  .contactoFormulario textarea {
    height: 200px;
    width: 400px;
    resize: none;
  }
  .contactoFormularioPartes {
    width: 198px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
  }
  .botonEnviar {
    color: #F4ECDC;
    background-color: #c77467;
    border-style: solid;
    border-width: 2px;
    border-color: #c77467;
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .botonEnviar:hover {
    color: #023C24;
    background-color: #F4ECDC;
    border-style: solid;
    border-width: 2px;
    border-color: #c77467;
    border-radius: 1rem;
    -webkit-animation-name: boton;
            animation-name: boton;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  .talles {
    padding-top: 80px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: ". titulo ." "tallesImagen tallesTexto tallesTabla";
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    justify-items: center;
  }
  .talles p {
    width: 350px;
    text-align: center;
    font-size: 1.5rem;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: tallesTexto;
  }
  .talles h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: titulo;
  }
  .tallesImagen {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: tallesImagen;
  }
  .tallesImagen img {
    width: 300px;
    height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tallesTabla {
    width: 300px;
    height: 400px;
    border-color: #c77467;
    border-width: 5px;
    border-style: solid;
    border-radius: 1rem;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: tallesTabla;
  }
  .tallesTabla table {
    caption-side: bottom;
    border-collapse: collapse;
    height: 100%;
    padding-bottom: 0px;
  }
  .preguntas {
    padding-top: 80px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulop titulop " "pregimagen pregtexto";
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    justify-items: center;
  }
  .preguntas h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: titulop;
  }
  .preguntas img {
    width: 400px;
    height: 500px;
    padding: 0px;
  }
  .preguntasTexto {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: pregtexto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-style: italic;
    font-size: 20px;
    padding-left: 10px;
  }
  .preguntasTexto p {
    padding-bottom: 10px;
    padding-left: 30px;
  }
  .preguntasTexto h5 {
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
  }
  .preguntasImagen {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: pregimagen;
  }
  .cuidadosYMateriales {
    padding-top: 80px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    justify-items: center;
        grid-template-areas: "tituloc tituloc tituloc" "imgcu textu textu" "textd textd imgcd";
  }
  .cuidadosYMateriales h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: tituloc;
  }
  .cuidadosYMateriales img {
    width: 350px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 15px;
  }
  .cuidadosYMateriales h3 {
    padding-bottom: 10px;
  }
  .imagenMateriales {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imgcu;
  }
  .textoMateriales {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: textu;
  }
  .textoMateriales p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 22px;
    padding-bottom: 10px;
    font-style: italic;
  }
  .imagenCuidados {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: imgcd;
  }
  .textoCuidados {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: textd;
    text-align: right;
  }
  .textoCuidados p {
    font-style: italic;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 22px;
    padding-bottom: 10px;
  }
  .unProducto img {
    width: 300px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
    -webkit-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
            box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
    opacity: 70%;
  }
}
