/*animacion links*/

@keyframes animacion {
    from {text-decoration-color: $transparente;}
    to {text-decoration-color: $rosa;}
    
}

/*animacion boton*/
@keyframes boton {
    from {border-color: $transparente;}
    to {border-color: $rosa;}
    from{background-color: $rosa;}
    to{background-color: $beige;}
    from{color:$beige}
    to{color: $verde;}

}

/*animacion producto*/

@keyframes producto{
    from{opacity: 70%;}
    to{opacity: 100%;}

}





