

footer{ 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin: $margenfooter / 3 ;
    background-color: $beige;
    grid-template-areas: "news"
                        "masInfo"
                        "datos";
    h4{
    font-weight: 600;
    }
    ul{
    list-style: none;
    img{
        width: 25px;
    }
    }
                        
}
.news{
    grid-area: news;
    justify-self: left;
}
.masInfo{
    grid-area: masInfo;
    justify-self: left;
}
.datos{
    grid-area: datos;
    justify-self: left;
}


footer a:hover{
    @include ahover($rosa);
}

.newsletterFormDos{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 90px;
   
}
.newsletterForm{
    @extend .newsletterFormDos;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 0.5;
}

.enviar {
    @include botondos ($beige, $rosa, $rosa);
    &:hover {
        @include botondos ($verde, $beige, $rosa);        
        animation-name: boton;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
    
}
