
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: $font;
    font-weight: 500 ;  
    color: $verde;
    line-height: 1.6;
}

body{
    background-color: $beige;
}

a{
    text-decoration: none;
    color: $verde;
    &:hover{ color: $rosa;
    }
} 
h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: $tamanoh1;
    font-family: $font-titulos;
}

h2{
    font-size: $tamanoh1;
    font-family: $font-titulos;
}
h3 {
    font-size: $tamanoh3;
    text-transform: uppercase;
    font-weight: 600;
}
h4{
    text-transform: uppercase;
    font-size: $tamanoh4 ;
}


header{ 
    background-color: $verde;
    height: 60px;
    z-index: 3; 
    align-items: center;
}

nav{
    z-index: 3;
}

.logo{
    justify-self: center;
    img{
        width: 140px;
    }
}

.loginYCart  {
    justify-self: end;
    img {
        width: 30px;
        margin-left: 5px;
    }

}
.menu{
    width: 100%;
    font-size: 1rem;
    margin: auto;
    padding: 10px;
	background-color: $verde;
    color: $beige;
    ul {
        list-style: none;
        background-color: $verde;
        ul {
            position: absolute;
            display: none;
            background-color: $verde;
            text-align: left;
            li {
                display: block;
            }
            
        }
    }
    li {
        display: inline;
        position:relative;
        text-align: left;
        a{
            @include a($beige);
            display: inline-block;
            text-align: left;
            &:hover{
                @include ahover($rosa);
                background-color: $verde;
            }
        }
     }
}
