
.todoLogin {
    padding-top:map-get($margenmobile, top);
    margin-right: map-get($margenmobile, right);
    margin-left: map-get($margenmobile, left);
    margin-bottom: map-get($margenmobile, bottom);
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "titulol titulol titulol"
                        ". login .";
    justify-items: center;
    h1{
        grid-area: titulol;
    }
    div{
        padding:5px;
    }
    img{
        width: 250px;
        object-fit:cover;
    }
}


.login{
    grid-area: login;
    justify-items: center;
    align-items: center;
}

.formLogin{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 16rem;
}
.loginEnItalic{
    font-style: italic;
}
