
.grid {
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: "slide"
                         "nos"
                         "nos"
                         "pro"
                         "pro"
                         "pro"
                         "conta"
                         "conta";
    grid-template-rows: auto ;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: center;
}
  
.slide {
    grid-area: slide;
    margin-top: 40px;
    width: 300px;
    height: 300px;
    justify-self: center;
    img{
        width: 300px;
        height: 300px;
        object-fit:cover;
    }

}



.nosotros {
    grid-area: nos;
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $rosita;
    border-radius: 100px;
    h2{
        grid-area: titulon;
        display: flex ;
        justify-content: center;
    }
}
.nosImagen{
    width: 200px;
    height: 150px;
    object-fit:cover;
    align-self: center;
    border-radius: 5px;

}
.nosTexto{
    display: flex;
    flex-direction: column;
	padding: 10px;
    font-size: 0.9rem;
    flex-wrap: wrap;
    text-align: left;
}


.pro {
    grid-area: pro ;
    padding-top: 40px;
}

.productosTitulo{
    display: flex;
    justify-content: center;
}
.ProductosBotonTodos{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    h4 a{
        @include boton($beige, $rosa, $rosa);
    } 
    a:hover {
        @include boton($verde, $beige, $rosa);
        animation-name: boton;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
}


.productosAnillos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: ani;
}
.productosAros{
    @extend .productosAnillos;
    grid-area: aro;
}
.productosVelas{
    @extend .productosAnillos;
    grid-area: vel;
}

.productos{
    display: grid;
    grid-template-areas: "aro"
                        "ani"
                        "vel";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    a{        
        @include a($verde);
        font-size: $tamanoh4;
        padding: 10px;
        &:hover{
        @include ahover($rosa);
        padding: 10px;
        }
    }
    img{
        width: 250px;
        height: 300px;
        object-fit:cover;
        border-radius: 1rem;
        box-shadow: $boxshadow;
        opacity: 70%;
        &:hover{
            opacity: 100%;
            animation-name: producto;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
        }
    
    }
    
}





.conta{
    grid-area: conta;
    padding-top: 40px;
}

.contactoTitulo{
    display: flex;
    justify-content: center;
}

.contacto{    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactoTexto{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    ul{
        list-style: none;
        margin-top: 10px;
        img{
            width: 20px;
        }
    }
}

.contactoFormulario textarea{
    height: 100px;
    width: 290px;
    resize: none;
    border-width: 0.1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-color: $rosa;
}

.contactoFormularioPartes{
    width: 140px;
    border-color: $rosa;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    border-width: 0.1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.contactoFormularioPartesDos{
@extend .contactoFormularioPartes;
}
.botonEnviar{
    @include boton($beige, $rosa, $rosa);
    &:hover{
        @include boton($verde, $beige, $rosa);
        animation-name: boton;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
    
    
}
