
.unProducto{
    text-decoration: underline;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    padding: 10px;
    text-transform: uppercase;
    img{
        width: 250px;
        height: 300px;
        object-fit:cover;
        border-radius: 1rem;
        box-shadow: $boxshadow;
        opacity: 70%;
        &:hover{
            opacity: 100%;
            animation-name: producto;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
        }
    
    }
    a:hover{
        text-decoration: overline;
        animation-name: animacion;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    
}


.velasTodo {
    padding-top: 110px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "titulov titulov titulov titulov"
                        "velas velas velas velas";
    justify-items: center;
    align-items: center;
    h1{
        grid-area: titulov;
    }

}

.variosProductosVelas{
    grid-area: velas;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}

.aceroTodo {
    padding-top: 110px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloac tituloac tituloac tituloac"
                        "ac ac ac ac";
    justify-items: center;
    align-items: center;
    h1{
        grid-area: tituloac;
    }

}

.variosProductosAcero{
    grid-area: ac;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}



.arosTodo {
    padding-top: 110px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloaros tituloaros tituloaros tituloaros"
                        "aros aros aros aros";
    justify-items: center;
    align-items: center;
    h1{
        grid-area: tituloaros;
    }

}

.variosProductosAros{
    grid-area: aros;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}

.anillosTodo {
    padding-top: 110px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloani tituloani tituloani tituloani"
                        "ani ani ani ani";
    justify-items: center;
    align-items: center;
    h1{
        grid-area: tituloani;
    }

}
 
.variosProductosAnillos{
    grid-area: ani;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}



.productosTodos {
    padding-top: 110px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "titulotodo titulotodo titulotodo titulotodo"
                        "todo todo todo todo";
    justify-items: center;
    align-items: center;
    h1{
        grid-area: titulotodo;
    }

}

.variosProductosTodos{
    grid-area: todo;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
