h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: $tamanoh1 + 0.5 ;
    font-family: $font-titulos;
}
        
h2{
    font-size: $tamanoh1 + 0.5 ;
    font-family: $font-titulos;
}
h3 {
    font-size: $tamanoh1;
    text-transform: uppercase;
    font-weight: 600;
}
h4{
    font-size: $tamanoh3 ;
}
/*header*/
header{ 
    background-color: $verde;
    height: 60px;  
    z-index: 3; 
}
nav{
    z-index: 3;
}
/*footer*/
footer{ 
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
    margin: $margenfooter;
    background-color: $beige;
    grid-template-areas: "news news" 
                        "masInfo datos";
    h4{
        font-size: $tamanoh4;
    }
}

.newsletterFormDos{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 150px;
}

.newsletterForm{
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 0.5;
    width: 150px;
}
        

/*main*/
.grid {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-areas:"slide"
                        "nos"
                        "nos"
                        "pro"
                        "pro"
                        "pro"
                        "conta"
                        "conta";
    grid-template-rows: auto ;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-self: center;
}
.slide {
    margin-top: 40px;
    justify-self: center;
    width: 500px;
    height: 350px;
    img{
        object-fit:cover;
        width: 500px;
        height: 350px;
    }
}



.nosImagen {
    width: 350px;
    height: 200px;
    object-fit:cover;
    grid-area: nosimg;
    justify-self: center;
}
.nosTexto{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.2rem;
    flex-wrap: wrap;
    width: auto;
    grid-area: nostext;
}
.nosotros {
    grid-area: nos;
    margin-top: 80px;
    padding: 30px;
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    grid-template-areas:"titulon "
                        "nostext "
                        "nosimg";
    border-radius: 100px;
    align-items: center;
    h2{
        grid-area: titulon;
        display: flex ;
        justify-content: center;
    }
    
}



.productosAnillos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    grid-area: ani;
    text-align: center;
}
.productosAros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    grid-area: aro;
}
.productosVelas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    grid-area: vel;
}
.productos{
    display: grid;
    grid-template-areas: "aro ani vel";
    grid-template-rows: auto ;
    grid-template-columns: auto auto auto;
    img{
        width: 150px;
        height: 200px;
    }
}
.ProductosBotonTodos{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    h4 a{
        @include boton($beige, $rosa, $rosa);
        font-size: $tamanoh4;
    } 
    a:hover {
        @include boton($verde, $beige, $rosa);
        animation-name: boton;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
}

.contactoTitulo{
    display: flex;
    justify-content: center;
}
.contacto{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactoTexto{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    ul{
        list-style: none;
        margin-top: 10px;
        img{
            width: 20px;
        }
    }
}

.contactoFormulario textarea{
    height: 150px;
    width: 220px;
    resize: none;
    border-width: 0.1rem;

}

.contactoFormularioPartes{
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-width: 0.1rem;

}
.contactoFormularioPartesDos{
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-width: 0.1rem;

}
.botonEnviar{
    @include boton($beige, $rosa, $rosa);
    &:hover{
        @include boton($verde, $beige, $rosa);
        animation-name: boton;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
        
}


/*talles*/

.talles {
    padding-top:map-get($margentablet, top);
    margin-right: map-get($margentablet, right);
    margin-left: map-get($margentablet, left);
    margin-bottom: map-get($margentablet, bottom);
    display: grid;
    grid-template-areas:"titulo titulo"
                        "tallesTexto tallesTexto"
                        "tallesImagen tallesTabla" ;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto ;
    justify-items: center;
    img{
        width: 250px;
        height: 350px;
        object-fit:cover;
        grid-area: tallesImagen;
        padding-top: 0;
        padding-right: 10px;
    }
    p{
        font-size: 1.2rem;
        padding: 10px;
        grid-area: tallesTexto;
        width: 500px;
    }
    h1{
        grid-area: titulo;
        text-align: center;
    }
    
}


.tallesTabla{
    width: 250px;
    height: 350px;
    border-color: $rosa ;
    border-width: 5px ;
    border-style: solid;
    border-radius: 1rem;
    grid-area: tallesTabla;
}
  
table {
    caption-side: bottom;
    border-collapse: collapse;
    height: 100%;
}


/*preguntas*/
.preguntas{
    padding-top:map-get($margentablet, top);
    margin-right: map-get($margentablet, right);
    margin-left: map-get($margentablet, left);
    margin-bottom: map-get($margentablet, bottom);
    display: grid;
    grid-template-areas:"titulop titulop "
                        "pregtexto pregtexto"
                        "pregimagen pregimagen";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    p{
        font-style: italic;
        font-size: 1.1rem;
        width: 400px;
    }
    h1{    
        grid-area: titulop;
    }
    img{    
        width: 350px;
        height: 400px;
        padding: 15px;
        justify-content: center;
    }
}

.preguntasTexto{   
    grid-area: pregtexto;
    p{
        font-style: italic;
        font-size: 1.2rem;
    }
    h5{
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.preguntasImagen{
    grid-area: pregimagen;
}



/*cauidados*/
.cuidadosYMateriales {
    padding-top:map-get($margentablet, top);
    margin-right: map-get($margentablet, right);
    margin-left: map-get($margentablet, left);
    margin-bottom: map-get($margentablet, bottom);
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto ;
    justify-items: center;
    grid-template-areas:"tituloc tituloc"
                        "imgcu textu "
                        "textd imgcd";
    h1{
    grid-area: tituloc;
    text-align: center;
    }
    img{
        width: 250px;
        height: 350px;
        object-fit:cover;
        padding: 5px;
    }
    h3{
        padding-bottom: 5px;
    }
}

.imagenMateriales{
    grid-area: imgcu;
}
.textoMateriales{
    grid-area: textu;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    p {
        font-style: italic;
    }
}
.imagenCuidados{
    grid-area: imgcd;
}
.textoCuidados{
    grid-area: textd;
    text-align: right;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    padding-bottom: 1px;
    p {
        font-style: italic;

    }
    
}
    
/*productos*/
.unProducto img{
    width: 250px;
    height: 300px;
    object-fit:cover;
    border-radius: 1rem;
    box-shadow: $boxshadow;
    opacity: 70%;
}
