
$verde:#023C24;
$rosa:#c77467;
$rosita: #c7746796;
$beige: #F4ECDC;
$font-titulos: 'DM Serif Text', serif;
$font: 'Montserrat', sans-serif;
$transparente: #c7746700;
$boxshadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514)